{% extends "@FOSUser/layout.html.twig" %}
{#
{% trans_default_domain 'FOSUserBundle' %}


    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    {% if targetUrl %}
    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}#}

{% block fos_user_content %}

{{ include("CoursBundle:Cours:alertesFlash.html.twig") }}

<!-- Trigger the modal with a button -->
<button id="btn-modal" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" hidden>Open Modal</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" onclick="document.location.href'{{ url('monEspace')}}'">&times;</button>
        <h4 class="modal-title">Inscription réussie</h4>
      </div>
      <div class="modal-body">
        <p>Votre compte a bien été enregistré. Vous pouvez désormais utiliser l'application !</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="document.location.href'{{ url('monEspace')}}'">Fermer</button>
      </div>
    </div>

  </div>
</div>

<script>
    $(document).ready(function() {
        $('#myModal').modal();

    });
    
</script>
<style>
    #btn-modal {
        display:none;
    }
</style>
{% endblock fos_user_content %}